In [10]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [11]:
dataset = pd.read_csv("C://Users//roger//todos os arquivos//10.Pr√°tica em Python//dados//tempo.csv", sep = ";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [12]:
dataset.shape

(14, 5)

In [14]:
dataset.loc[0:3]

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim

In [15]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [16]:
#dataset.loc[1:1]
#dataset.drop(dataset.index[[0,1]],inplace = True)

In [36]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [21]:
Aparencia1 = dataset.groupby(['Aparencia']).size()
Aparencia1

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [24]:
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia']

Series([], Name: Aparencia, dtype: object)

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Aparencia    14 non-null     object
 1   Temperatura  14 non-null     int64
 2   Umidade      13 non-null     float64
 3   Vento        13 non-null     object
 4   Jogar        14 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 688.0+ bytes

In [40]:
sts.median(dataset['Temperatura'])

73.5

In [41]:
#substituir
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Temperatura'] = sts.median(dataset['Temperatura'])

In [42]:
dataset['Temperatura']

0     85.0
1     80.0
2     83.0
3     70.0
4     68.0
5     65.0
6     64.0
7     73.5
8     69.0
9     75.0
10    75.0
11    72.0
12    81.0
13    71.0
Name: Temperatura, dtype: float64

In [43]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [44]:
sts.median(dataset['Umidade'])

85.5

In [45]:
dataset['Umidade'].fillna(sts.median(dataset['Umidade']), inplace=True)

In [48]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100)]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [49]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100), 'Umidade'] = sts.median(dataset['Umidade'])

In [50]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0    85.00       FALSO   nao
1        sol         80.0    90.00  VERDADEIRO   nao
2    nublado         83.0    86.00       FALSO   sim
3      chuva         70.0    85.50       FALSO   sim
4      chuva         68.0    80.00       FALSO   sim
5      chuva         65.0    70.00  VERDADEIRO   nao
6        sol         64.0    65.00  VERDADEIRO   sim
7        sol         73.5    95.00       FALSO   nao
8        sol         69.0    70.00       FALSO   sim
9      chuva         75.0    85.25         NaN   sim
10       sol         75.0    70.00  VERDADEIRO   sim
11   nublado         72.0    90.00  VERDADEIRO   sim
12   nublado         81.0    75.00       FALSO   sim
13     chuva         71.0    91.00  VERDADEIRO   nao

In [51]:
sts.mode(dataset['Vento'])

'FALSO'

In [25]:
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [26]:
dataset['Vento'].fillna(sts.mode(dataset['Vento']), inplace=True)

In [28]:
sts.median(dataset['Umidade'])

85.125

In [29]:
#calular a mediana
mediana = sts.median(dataset['Umidade'])
mediana

85.125